<div class="team-purple-mask"></div>
<div class="team-orange-mask"></div>



.team-orange-mask {
	width: 80%;
	height: 500px;
	background: #F8A35E;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 28%, 0 52%);
  clip-path: polygon(0 0, 100% 0, 100% 28%, 0 52%);
  
  z-index:3;
}

.team-purple-mask{
  width: 80%;
	height: 500px;
	background: #D37BE5;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 65%, 0 40%);
  clip-path: polygon(0 0, 100% 0, 100% 65%, 0 40%);
  margin-bottom: -500px;
  z-index:0;
}
